*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
header{
    height: 78px;
    box-shadow: 0px 4px 10px #006db625;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
ul{
    list-style: none;
}
li{
    display: inline;
    margin: 0 15px;
}
a{
    text-decoration: none;
    color: #006DB6;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}
a:hover{
    text-decoration:underline;
}
main{
    padding: 70px 200px;
}
h1{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #006DB6;
}
p{
    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 38px;
}
label>span{
    color: #006DB6;
}
main>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main>div>div{
    width: 40%;
}
#boxContato>div{
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}
#boxContato>div>div{
    background: #006DB6;
    border-radius: 100%;
    font-size: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFF;
}
form>div{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
#bfLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 15px;
}
#bfLine>div{
    display: flex;
    flex-direction: column;
    max-width: 47%;
}
#bfLine>div>input{
    max-width: 100%;
}
label{
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    text-align: left;
}
textarea{
    width: 100%;
    border: 2px solid #006db65b;
    border-radius: 5px;
    padding: 5px;
}
input, select{
    border: 2px solid #006db65b;
    border-radius: 5px;
    height: 27px;
    padding: 0 5px;
    width: 250px;
}
input:focus, select:focus, textarea:focus{
    border: 2px solid #006DB6;
    outline: 0;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=submit]{
    height: 40px;
    background: #006DB6;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 17px;
    border: none;
    padding: 0 5px;
    cursor: pointer;
}